body {
  margin: 0 auto;
}

#caro {
  height: 100vh;
  width: 100vw;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
  transition: 1s;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 657 657' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M328.5 657C509.926 657 657 509.926 657 328.5C657 147.074 509.926 0 328.5 0C147.074 0 0 147.074 0 328.5C0 509.926 147.074 657 328.5 657Z' fill='%237DAB50'/%3E%3Cpath d='M328.5 386.209C411.857 386.209 479.432 318.634 479.432 235.277C479.432 151.92 411.857 84.345 328.5 84.345C245.143 84.345 177.568 151.92 177.568 235.277C177.568 318.634 245.143 386.209 328.5 386.209Z' fill='%23F4F4F4'/%3E%3Cpath d='M326.281 301.865C361.831 301.865 390.649 273.047 390.649 237.497C390.649 201.948 361.831 173.129 326.281 173.129C290.731 173.129 261.913 201.948 261.913 237.497C261.913 273.047 290.731 301.865 326.281 301.865Z' fill='%23363B49'/%3E%3Cpath d='M328.5 569.542C380.336 569.542 422.357 539.459 422.357 502.349C422.357 465.239 380.336 435.156 328.5 435.156C276.664 435.156 234.643 465.239 234.643 502.349C234.643 539.459 276.664 569.542 328.5 569.542Z' fill='%23373C4A'/%3E%3Cpath d='M328.5 569.542C367.377 569.542 398.893 556.649 398.893 540.745C398.893 524.841 367.377 511.948 328.5 511.948C289.623 511.948 258.107 524.841 258.107 540.745C258.107 556.649 289.623 569.542 328.5 569.542Z' fill='%239D637F'/%3E%3Cpath d='M273.267 453.368C262.25 477.47 285.826 496.712 290.903 507.163C292.137 508.423 296.921 510.156 306.194 507.004C317.785 503.063 319.762 477.866 323.572 472.288C326.62 467.825 321.556 453.099 320.124 442.165C312.199 435.117 284.283 429.266 273.267 453.368Z' fill='white'/%3E%3Cpath d='M332.127 448.671C324.498 469.683 333.977 495.141 339.671 505.243C340.924 506.524 345.47 508.596 353.622 506.635C363.811 504.185 376.2 482.744 379.116 478.007C381.45 474.218 377.524 456.318 375.112 446.139C367.16 438.873 339.756 427.659 332.127 448.671Z' fill='white'/%3E%3C/svg%3E%0A");
}

.primary {
  transform: scale(1.5);
}

.secondary {
  transform: scale(1.25);
}

.tertiary {
  transform: scale(1.1);
}
